---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import podsidekiqLogo from "@assets/logo-white.png";
import { Picture } from "astro:assets";

const menuitems = [
  {
    title: "Features",
    path: "#",
    children: [
      { title: "Ideas and Curation", path: "/#feature-ideas" },  
      { title: "Topic Management", path: "/#feature-topic" },
      { title: "Runsheets and Shownotes", path: "/#feature-runsheet" },
      { title: "Guest Management", path: "/contact", badge: true },
      { title: "Hashtag Discovery & Analytics", path: "/contact", badge: true },
    ],
    badge: true
  },
  {
    title: "Plans",
    path: "/pricing",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<header class="absolute top-0 left-0 z-50 w-full p-5 bg-pink">
    <div class="container mx-auto lg:flex justify-between items-center">
      <Astronav closeOnClick>
        <div class="flex w-full lg:w-auto justify-between items-center">
            <a href="/">
              <Picture
                src={podsidekiqLogo}
                alt="PodSidekiq Logo"
                width="160"
                loading="eager"
              />
            </a>
            <div class="block lg:hidden">
              <MenuIcon class="w-6 h-6 text-white" />
            </div>
        </div>
        <MenuItems class="hidden lg:flex">
          <ul class="flex flex-col lg:flex-row lg:gap-5 lg:bg-inherit bg-pink-800 px-2">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 font-medium py-2 items-center text-white hover:text-pink-300">
                        <span> {item.title}</span>
                        {item.badge && (
                          <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-pink-800 rounded-full">
                            New
                          </span>
                        )}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
        </MenuItems>
        <div class="justify-end hidden pr-16 lg:flex lg:pr-0">
          <a href="/contact" class="inline-block px-5 py-2 text-base font-medium text-white hover:opacity-50">
            Login
          </a>
          <a href="/contact" class="inline-block rounded-md bg-white/[0.12] py-2 px-7 text-base font-medium text-white hover:bg-pink-400/90">
            Sign Up
          </a>
        </div>
      </Astronav>
    </div>
</header>

