---
// @ts-ignore
import { Icon } from 'astro-icon/components';

const size=72;
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with all your favorite technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon size={size} class="text-[#FF0000]" name="simple-icons:youtube" />
    <Icon size={size} class="text-[#9933CC]" name="simple-icons:applepodcasts" />
    <Icon size={size} class="" name="simple-icons:patreon" />
    <Icon size={size} class="text-[#9146FF]" name="simple-icons:twitch" />
    <Icon size={size} class="text-[#80F5D2]" name="simple-icons:streamlabs" />
    <!-- <Icon class="h-8 md:h-12" name="simple-icons:astro" /> -->
  </div>
</div>
